.lt-collapse {
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	background-color: #fff;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 32px;
		border-bottom: 1px solid #eee;
		padding: 5px 2px;
	}

	&__footer {
		border-top: 1px solid #eee;
	}

	&__content {
		padding: 2px;
	}

	&__action {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: flex-end;
		text-align: right;
	}
}
