.lt-icon {
    display: inline-block;

    &-spin {
        svg {
            animation: loadingCircle 1s infinite linear;
        }
    }
}

span.iconify {
    display: block;
    min-width: 1em;
    min-height: 1em;
    border-radius: 100%;
    background-color: #eceaea;
}