.lt-transition {
	transition:
		0.2s height ease-in-out,
		0.2s padding-top ease-in-out,
		0.2s padding-bottom ease-in-out;
}

@mixin transition-default {
	&-enter-active,
	&-leave-active {
		transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
	}

	&-move {
		transition: transform 0.4s;
	}
}

.expand-transition {
	@include transition-default;
}

.expand-x-transition {
	@include transition-default;
}

.fade-transition {
	&-enter-active,
	&-leave-active {
		transition: opacity 0.2s ease-in-out;
	}

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
	transition: all 0.3s;
}

.fade-slide-enter-from {
	transform: translateX(-30px);
	opacity: 0;
}

.fade-slide-leave-to {
	transform: translateX(30px);
	opacity: 0;
}

// ///////////////////////////////////////////////
// Fade Bottom
// ///////////////////////////////////////////////

// Speed: 1x
.fade-bottom-enter-active,
.fade-bottom-leave-active {
	transition:
		opacity 0.25s,
		transform 0.3s;
}

.fade-bottom-enter-from {
	transform: translateY(-10%);
	opacity: 0;
}

.fade-bottom-leave-to {
	transform: translateY(10%);
	opacity: 0;
}

// fade-scale
.fade-scale-leave-active,
.fade-scale-enter-active {
	transition: all 0.28s;
}

.fade-scale-enter-from {
	transform: scale(1.2);
	opacity: 0;
}

.fade-scale-leave-to {
	transform: scale(0.8);
	opacity: 0;
}

// ///////////////////////////////////////////////
// Fade Top
// ///////////////////////////////////////////////

// Speed: 1x
.fade-top-enter-active,
.fade-top-leave-active {
	transition:
		opacity 0.2s,
		transform 0.25s;
}

.fade-top-enter-from {
	transform: translateY(8%);
	opacity: 0;
}

.fade-top-leave-to {
	transform: translateY(-8%);
	opacity: 0;
}

.scale-transition {
	@include transition-default;

	&-enter-from,
	&-leave,
	&-leave-to {
		transform: scale(0);
		opacity: 0;
	}
}

.scale-rotate-transition {
	@include transition-default;

	&-enter-from,
	&-leave,
	&-leave-to {
		transform: scale(0) rotate(-45deg);
		opacity: 0;
	}
}

.scroll-y-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}

	&-enter-from {
		transform: translateY(-15px);
	}

	&-leave-to {
		transform: translateY(15px);
	}
}

.scroll-y-reverse-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}

	&-enter-from {
		transform: translateY(15px);
	}

	&-leave-to {
		transform: translateY(-15px);
	}
}

.scroll-x-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}

	&-enter-from {
		transform: translateX(-15px);
	}

	&-leave-to {
		transform: translateX(15px);
	}
}

.scroll-x-reverse-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}

	&-enter-from {
		transform: translateX(15px);
	}

	&-leave-to {
		transform: translateX(-15px);
	}
}

.slide-y-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		transform: translateY(-15px);
		opacity: 0;
	}
}

.slide-y-reverse-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		transform: translateY(15px);
		opacity: 0;
	}
}

.slide-x-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		transform: translateX(-15px);
		opacity: 0;
	}
}

.slide-x-reverse-transition {
	@include transition-default;

	&-enter-from,
	&-leave-to {
		transform: translateX(15px);
		opacity: 0;
	}
}

// zoom-out
.zoom-out-enter-active,
.zoom-out-leave-active {
	transition:
		opacity 0.1 ease-in-out,
		transform 0.15s ease-out;
}

.zoom-out-enter-from,
.zoom-out-leave-to {
	transform: scale(0);
	opacity: 0;
}

// zoom-fade
.zoom-fade-enter-active,
.zoom-fade-leave-active {
	transition:
		transform 0.2s,
		opacity 0.3s ease-out;
}

.zoom-fade-enter-from {
	transform: scale(0.92);
	opacity: 0;
}

.zoom-fade-leave-to {
	transform: scale(1.06);
	opacity: 0;
}
