#app {
	width: 100%;
	height: 100%;
	color: #1f2329;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s !important;
}

html {
	overflow: hidden;
}

html body {
	overflow: auto;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;

	&.color-weak {
		filter: invert(80%);
	}

	&.gray-mode {
		filter: grayscale(100%);
		filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
	}
}

a:focus,
a:active,
button,
div,
svg,
span {
	outline: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a:hover {
	color: #000;
}

li {
	padding: 0;
	margin: 0;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}
