.ant-layout .lt-header {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 1024px;
	position: relative;
	z-index: 100;
	height: 56px;
	flex: 0 0 56px;
	padding-left: 10px;
	padding-right: 0;
	line-height: 56px;
	background-color: #fff;

	&__right {
		align-items: center;
		display: flex;
		justify-content: space-around;
		justify-content: flex-end;
		margin-right: 8px;
		width: fit-content;

		.ant-dropdown-trigger {
			height: 44px;
		}

		.ant-input {
			background-color: transparent;
		}

		.ant-input-affix-wrapper {
			background-color: #f2f3f5;
			border-color: #f2f3f5;
		}

		.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
			background-color: #fff;
			border-color: rgb(51 112 255);
			border-inline-end-width: 1px;
			z-index: 1;
		}

		.vxe-pulldown.is--visivle.is--active {
			.ant-input-affix-wrapper {
				background-color: #fff;
				border-color: rgb(51 112 255);
				border-inline-end-width: 1px;
				z-index: 1;
			}
		}

		.ant-input-affix-wrapper-focused,
		.ant-input-affix-wrapper:focus {
			z-index: 1;
		}

		.ant-input-affix-wrapper:focus,
		.ant-input-affix-wrapper-focused {
			background-color: #fff;
			border-color: rgb(51 112 255);
			box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
			border-inline-end-width: 1px;
			outline: 0;
		}
	}
}
