.lt-layout-header {
	align-items: center;
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 56px;
	flex-direction: row;
	height: 56px;
	justify-content: space-between;
	min-width: 1024px;
	padding-left: 10px;
	padding-right: 0;
	position: relative;
	z-index: 100;

	&__logo {
		align-items: center;
		display: flex;
	}

	&__right {
		align-items: center;
		display: flex;
		justify-content: space-around;
		justify-content: flex-end;
		margin-right: 8px;
		width: fit-content;
	}
}
