.lt-header-logo {
	align-items: center;
	display: flex;

	&__svg {
		align-items: center;
		display: flex;
		flex: none;
		flex-direction: row;
		height: 60px;
		justify-content: space-between;
		overflow: hidden;
		padding: 0 13px;
		transition: all 0.3s ease-in-out;
	}
}
