.lt-user-info {
	border-radius: 4px;
	height: 44px;
	margin-top: 12px;
	padding: 0 8px;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	position: relative;

	&:active {
		background-color: rgb(31 35 41 / 12%);
	}

	&:hover {
		background-color: rgb(31 35 41 / 12%);
	}

	&__avatar {
		border-radius: 50%;
		height: 32px;
		position: relative;
		width: 32px;
		background-color: #f56a00;
	}

	&__content {
		margin-left: 12px;
		margin-right: 0;
		width: 120px;
		max-width: 120px;
		text-align: left;

		&-name {
			color: #1f2329;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-tag {
			align-items: center;
			display: flex;

			&-content {
				background-color: rgb(51 112 225 / 20%);
				color: #245bdb;
				font-size: 10px;
				height: 16px;
				padding: 0 4px;
				align-items: center;
				border-radius: 4px;
				cursor: text;
				display: inline-flex;
				margin: 0;
				max-width: 100%;
				overflow-wrap: break-word;
				white-space: nowrap;

				&-text {
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: break-all;
				}
			}
		}
	}
}

.lt-uinfo-content {
	width: 100%;
	height: 195px;
}

.lt-uinfo-header {
	display: flex;
	padding: 8px 16px;
	position: relative;
}

.lt-uinfo-information {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	margin-left: 8px;
	overflow: hidden;
}

.lt-uinfo-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
	cursor: inherit;
	font-size: 18px;
	color: #000;
}

.lt-uinfo-body {
	align-items: flex-start;
	border-top: 1px solid rgb(31 35 41 / 15%);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding: 3px;
}

.lt-uinfo-item {
	align-items: center;
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--text-title);
	display: flex;
	font-size: 14px;
	height: 40px;
	justify-content: space-between;
	line-height: 32px;
	padding: 0 11px;
	text-overflow: ellipsis;
	width: 100%;

	&:hover {
		background: rgb(31 35 41 / 8%);
	}

	&-title {
		flex: 1;
		width: 0;
	}
}

.lt-uinfo-footer {
	border-top: 1px solid rgb(31 35 41 / 15%);
	padding: 3px;

	&-item {
		align-items: center;
		border-radius: 4px;
		color: #1f2329;
		cursor: pointer;
		display: flex;
		font-size: 14px;
		height: 40px;
		line-height: 40px;
		overflow: hidden;
		padding: 0 12px;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background: rgb(31 35 41 / 8%);
		}
	}
}

.lt-pcn-user-info {
	width: 280px;
	border-radius: 6px;
	border: 1px solid rgb(222 224 227);
	box-shadow: 0 4px 8px 0 rgb(31 35 41 / 10%);
	margin-top: -14px;
}
