$white: #fff;
$primary-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad1a;
$error-color: #ff4d4f;

.ant-btn {
	&-link:hover,
	&-link:focus,
	&-link:active {
		border-color: transparent !important;
	}

	&-primary {
		background-color: $primary-color;
		color: $white;

		&:hover:not([disabled]),
		&:active:not([disabled]) {
			color: $white;
			background-color: lighten($primary-color, 5%);
		}
	}

	&-primary:not(&-background-ghost):not([disabled]) {
		color: $white;
	}

	&-default {
		border-color: #cececd;
		background-color: $white;
		color: #606266;

		&:hover:not([disabled]),
		&:active:not([disabled]) {
			border-color: $primary-color;
			background-color: $white;
			color: $primary-color;
		}
	}

	[data-theme='light'] &.ant-btn-link.is-disabled {
		border-color: transparent !important;
		background-color: transparent !important;
		box-shadow: none;
		color: rgb(0 0 0 / 25%);
		text-shadow: none;
		cursor: not-allowed !important;
	}

	[data-theme='dark'] &.ant-btn-link.is-disabled {
		border-color: transparent !important;
		background-color: transparent !important;
		box-shadow: none;
		color: rgb(255 255 255 / 25%) !important;
		text-shadow: none;
		cursor: not-allowed !important;
	}

	&-success.ant-btn-link:not([disabled]) {
		color: $success-color;

		&:hover,
		&:focus {
			border-color: transparent;
			color: lighten($success-color, 5%);
		}

		&:active {
			color: darken($success-color, 5%);
		}
	}

	&-success.ant-btn-link.ant-btn-loading,
	&-warning.ant-btn-link.ant-btn-loading,
	&-error.ant-btn-link.ant-btn-loading,
	&-background-ghost.ant-btn-link.ant-btn-loading,
	&.ant-btn-link.ant-btn-loading {
		&::before {
			background: transparent;
		}
	}

	&-success:not(.ant-btn-link, .is-disabled) {
		border-color: $success-color;
		background-color: $success-color;
		color: $white;

		&:hover,
		&:active {
			border-color: lighten($success-color, 5%);
			background-color: lighten($success-color, 5%);
			color: $white;
		}

		&:active {
			border-color: darken($success-color, 5%);
			background-color: darken($success-color, 5%);
		}
	}

	&-warning.ant-btn-link:not([disabled]) {
		color: $warning-color;

		&:hover,
		&:focus {
			border-color: transparent;
			color: lighten($warning-color, 5%);
		}

		&:active {
			color: darken($warning-color, 5%);
		}
	}

	&-warning:not(.ant-btn-link, .is-disabled) {
		border-color: $warning-color;
		background-color: $warning-color;
		color: $white;

		&:hover,
		&:active {
			border-color: lighten($warning-color, 5%);
			background-color: lighten($warning-color, 5%);
			color: $white;
		}

		&:active {
			border-color: darken($warning-color, 5%);
			background-color: darken($warning-color, 5%);
		}
	}

	&-error.ant-btn-link:not([disabled]) {
		color: $error-color;

		&:hover,
		&:focus {
			border-color: transparent;
			color: lighten($error-color, 5%);
		}

		&:active {
			color: darken($error-color, 5%);
		}
	}

	&-error:not(.ant-btn-link, .is-disabled) {
		border-color: $error-color;
		background-color: $error-color;
		color: $white;
		//border-width: 0;

		&:hover,
		&:active {
			border-color: lighten($error-color, 5%);
			background-color: lighten($error-color, 5%);
			color: $white;
		}

		&:active {
			border-color: darken($error-color, 5%);
			background-color: darken($error-color, 5%);
		}
	}

	&-background-ghost {
		border-width: 1px;
		background-color: transparent !important;

		&[disabled],
		&[disabled]:hover {
			border-color: fade($white, 40%) !important;
			background-color: transparent !important;
			color: fade($white, 40%) !important;
		}
	}
}

.ant-btn-dashed.ant-btn-background-ghost,
.ant-btn-default.ant-btn-background-ghost {
	border-color: $white;
	color: $white;

	&:hover,
	&:focus {
		border-color: lighten($white, 10%);
		color: lighten($white, 10%);
	}

	&:active {
		border-color: darken($white, 10%);
		color: darken($white, 10%);
	}

	&[disabled],
	&[disabled]:hover {
		border-color: fade($white, 40%) !important;
		color: fade($white, 40%) !important;
	}
}

.ant-btn-background-ghost.ant-btn-success:not(.ant-btn-link) {
	border-width: 1px;
	border-color: $success-color;
	background-color: transparent;
	color: $success-color;

	&:hover,
	&:focus {
		border-color: lighten($success-color, 5%);
		color: lighten($success-color, 5%) !important;
	}

	&:active {
		border-color: darken($success-color, 5%);
		color: darken($success-color, 5%);
	}
}

.ant-btn-background-ghost.ant-btn-warning:not(.ant-btn-link) {
	border-width: 1px;
	border-color: $warning-color;
	background-color: transparent;
	color: $warning-color;

	&:hover,
	&:focus {
		border-color: lighten($warning-color, 5%);
		color: lighten($warning-color, 5%) !important;
	}

	&:active {
		border-color: darken($warning-color, 5%);
		color: darken($warning-color, 5%);
	}
}

.ant-btn-background-ghost.ant-btn-error:not(.ant-btn-link) {
	border-width: 1px;
	border-color: $error-color;
	background-color: transparent;
	color: $error-color;

	&:hover,
	&:focus {
		border-color: lighten($error-color, 5%);
		color: lighten($error-color, 5%) !important;
	}

	&:active {
		border-color: darken($error-color, 5%);
		color: darken($error-color, 5%);
	}
}

.ant-btn-ghost.ant-btn-link:not([disabled]) {
	color: $white;

	&:hover,
	&:focus {
		border-color: transparent;
		color: lighten($white, 10%);
	}
}
